@model antontelle.Models.BlogPost

@section scripts {
    @Content.Script("jquery.validate.min.js", Url)
    @Content.Script("jquery.validate.unobtrusive.min.js", Url)
}
<link rel="stylesheet" href="/Content/themes/base/jquery-ui.css" />

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@{ Html.EnableClientValidation(); }
@using (Html.BeginForm())
{
    @Html.ValidationSummary("Please correct the following errors:")
    @Html.EditorForModel()
    <p>
        <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


