<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:Green">
    <ul id="menu">
        <li>@Html.ActionLink("BlogPosts", "Index", "BlogPosts")</li>
    </ul>
    @RenderBody()
    Impressum

@*<script type="text/javascript">
    $(function () {
        jQuery.validator.unobtrusive.adapters.addBool('excludedwords');
    });
</script>
*@
    @Content.Script("jquery-1.4.4.min.js", Url)
    @Content.Script("jquery.validate.min.js", Url)
    @Content.Script("jquery.validate.unobtrusive.min.js", Url)
    @Content.Script("CustomValidationRules.js", Url)
    @RenderSection("scripts", false)
</body>
</html>
