<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:Green">
    <ul id="menu">
        <li>@Html.ActionLink("BlogPosts", "Index", "BlogPosts")</li>
    </ul>
    @RenderBody()
    Impressum

    @Content.Script("jquery-1.4.4.min.js", Url)
    @RenderSection("scripts", false)
</body>
</html>
